@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/evenex2/sslSectionHero.scss";
.ssl-section {
  background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/sslSectionHero/partie-machine-coudre-vintage-vetement_77190-2630.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
