.smf-preheader {
    padding-top: 30px;
    padding-bottom: 30px;
}
.preheader {
    &-logo {
        text-decoration: none;
        color: #333;
    }
    &-logo:hover {
        text-decoration: none;
        color: #333;
    }
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0;
    color: #787878;
    text-transform: none;
    line-height: 1.44;
    font-weight: 400;
    font-style: normal;
    &-link {
        color: 81b03f !important;
        font-style: normal;
        font-size: 18px;
        text-decoration: underline;
        font-weight: bold;
    }
    &-title {
        font-size: 32px;
    }
    &-section {
        width: 33.3333%;
    }
    &-title-section {
        width: 33.333333333333336%;
    }
    &-logo-text {
        line-height: 1.4375;
        font-size: 32px;
        font-family: "Vollkorn", serif;
    }
}

.smf-navbar {
    .smf-navbar-link {
        color: #787878;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .smf-navbar-link:hover {
        text-decoration: none;
        color: 81b03f;
    }
}

.navbar.mobile .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar.mobile .navbar-collapse {
    text-align: center;
}
.navbar.mobile .navbar-link {
    text-decoration: none;
    color: 81b03f;
}

.sm-mobile-nav-link {
    text-decoration: underline;
    color: 81b03f !important;
    font-weight: bold;
}

.sm-mobile-nav-link {
    color: 81b03f !important;
}

.smf-mobile-navbar-brand {
    line-height: 1.4375;
    font-size: 32px;
    font-family: "Vollkorn", serif;
}
