@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "../variables.scss";

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  .swiper-wrapper {
    height: auto;
    width: auto;
  }
  .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid $wbu-color-primary;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: $wbu-color-primary;
}
.clients .swiper-slide img {
  opacity: 0.5;
  filter: grayscale(100%);
}
.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}
