@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "./_variables" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "@stephane888/wbu-atomique/scss/atome/typography/_default.scss";
@use "@stephane888/wbu-atomique/scss/molecule/default-class.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  .container {
    max-width: 100%;
  }
}
