@use "../variables" as *;

@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/mitor/molecule/mitor-single-testimony.scss";
@use "@stephane888/wbu-atomique/scss/organisme/sections/theme_builder/mitor/mitor-section-title.scss";
