@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;

//
$wbu-color-text: #000000;
$wbu-color-primary: #28282b !default;
$wbu-color-secondary: #ee8700 !default;
$wbu-color-thirdly: rgb(240, 255, 0);