@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
// @use "@stephane888/wbu-atomique/scss/variables" as *;
$wbu-color-primary: #ff007a;
$wbu-background: #000000;
$wbu-color-secondary: #4125dd;
$space_bottom: 8rem;
