// ressources necessary
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "@stephane888/wbu-atomique/scss/atome/typography/_default.scss";
@use "@stephane888/wbu-atomique/scss/molecule/default-class.scss";
@use "./_variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/cv/fields/field-buttons.scss";
@use "@stephane888/wbu-atomique/scss/cv/fields/field-svg.scss";
// corresponding google fonts styles
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/**
 * Configuraion specifique:
 */
.container {
  width: 100% !important;
  max-width: 1200px !important;
}
body {
  min-height: 2000px;
}
