@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;

/*--------------------------------------------------------------
# mosaic images
--------------------------------------------------------------*/
.mosaic-img {
  padding: 0 4px;
  //width: 65%;
  margin-bottom: 8rem;
  .column-gabarit {
    //flex-wrap: nowrap;
  }
  .column__img {
    display: flex;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
    align-items: end;
    img {
      width: 100%;
      max-height: 650px;
      transition: opacity ease-in-out 0.3s;
      height: auto;
      object-fit: contain;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
