@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;

/*--------------------------------------------------------------
# mosaic images
--------------------------------------------------------------*/
.mosaic-img {
  padding: 0 4px;
  //width: 65%;
  margin-bottom: 8rem;
}

/* Create two equal columns that sits next to each other */
.column {
  &-two {
    display: flex;
    &__img {
      padding: 0 4px 6px;
      //background-color: gray;
      max-height: 600px;
      width: 50%;
      display: flex;
      justify-content: center;
      img {
        cursor: pointer;
        transition: 0.3s;
        max-width: 100%;
        object-fit: contain;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    //flex: 50%;
  }
  &-three {
    display: flex;
    flex-wrap: wrap;
    &__img {
      display: flex;
      justify-content: center;
      padding: 0 4px 8px;
      // background-color: gray;
      max-height: 400px;
      width: calc(100% / 3);
      img {
        cursor: pointer;
        transition: 0.3s;
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
