@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
$wbu-color-primary: white;
$wbu-color-secondary: #b10400;
$wbu-color-thirdly: black;
$wbu-border-color: #fff;
// $evenex-orange-200: #FF7C49;
// $evenex-blue-color: #172070;
