// ressources necessary
@use "./_variables.scss";
@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "@stephane888/wbu-atomique/scss/atome/typography/_default.scss";
@use "@stephane888/wbu-atomique/scss/molecule/default-class.scss";

// corresponding google fonts styles
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Great+Vibes&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

.font-family-1 {
  font-family: "Great Vibes", cursive;
}
.section_reservation_title {
  font-family: "Cantata One", serif;
}
.menu_price {
  font-family: "Cantata One", serif;
}
