$color: olive;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("ttf");
}
.body {
  background-color: $color;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/icon-guides-travaux.png");
}
/* default */

.d-flex {
    display: flex!important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
/* header for navigations */

#header {

    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: #fff;

    .logo h1 {

    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;

      a {

        color: #222222;
        text-decoration: none;
        
      }

    }
    .navbar {

      position: relative;
      display: flex;
      padding:0;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .nav-link {

        text-decoration: none;

      }

      a {

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-size: 15px;
      font-weight: 400;

      }

      li {

        position:relative;
        //border:1px solid black;

      }

      ul {

        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;

      }

      .dropdown li {

        display: list-item;
        text-align: -webkit-match-parent;

        i {

          font-size: 12px;
          line-height: 0;
          margin-left: 5px;

        }

        ul  {

          display: block;
          position: absolute;
          left: 30px;
          top: calc(100% + 30px);
          margin: 0;
          padding: 10px 0;
          z-index: 99;
          opacity: 0;
          visibility: hidden;
          background: #fff;
          box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
          transition: 0.3s;
          border-radius: 4px;

          li {

            min-width: 200px;
            
          }

        }
        
      }

    }

}