$color: olive;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("ttf");
}
.body {
  background-color: $color;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/icon-guides-travaux.png");
}
