@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js');
@import 'headerNav';


*{
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #47b2e4;
    text-decoration: none;
  }
  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
  }
  
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
  }
  &.header-scrolled, &.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
  }
  .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
   .logo a {
    color: #fff;
  }
   .logo img {
    max-height: 40px;
  }
  &.scrolled{
    height: 50px;
    background:rgba(245, 3, 3, 0.603);
    color: #fff;

    .menu-icon{
        &_line, &_line::before, &_line::after{
            background: #fff;
        }
    }
  }
}