@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
// $wbu-color-primary: #a19c9c;
// $wbu-color-secondary: black;
// $wbu-color-thirdly: #dddddd;
// $wbu-border-color: #fff;
// $evenex-orange-200: #FF7C49;
// $evenex-blue-color: #172070;

/* Centrer par defaut les sections */
.page-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1100px;
}
/* supprimer le decallage sur les grids */
.page-width .collection-grid {
  margin-left: 0;
}

@media only screen and (min-width: 982px) {
  .page-width {
    padding-left: 0;
    padding-right: 0;
  }
  .page-width .collection-grid {
    margin-left: -30px;
  }
}
